@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  @apply bg-[#fcfcfc] dark:bg-[#121212] text-slate-900 dark:text-white;
}